<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.fevermeter.app">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="app.fevermeter.org.Activity.SplashActivity"
                android:label="@string/app_name"
                android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="app.fevermeter.org.Activity.HomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="app.fevermeter.org.Activity.AddFeverActivity">
        </activity>
        <activity android:name="app.fevermeter.org.Activity.FeverReportActivity">
        </activity>

    </application>

</manifest>
